<div class="account-info">
  <h1>Account Info</h1>
  <div class="account-info-profile-pic">
    <fa-icon class="account-info-profile-pic-icon" [icon]="userIcon"> </fa-icon>
  </div>
  <h3>Basic Info</h3>
  <div class="account-info-basicInfo-field">
    <div class="account-info-basicInfo-field-left">
      <label for="name" class="account-info-basicInfo-field-label">
        Name
      </label>
      <div class="account-info-basicInfo-field-label-value">
        {{ userObject.firstName + ' ' + userObject.lastName }}
      </div>
    </div>
    <div class="account-info-basicInfo-field-right">
      <fa-icon [icon]="nextIcon"></fa-icon>
    </div>
  </div>

  <div class="account-info-basicInfo-field">
    <div class="account-info-basicInfo-field-left">
      <label for="address" class="account-info-basicInfo-field-label">
        Address
      </label>
      <div class="account-info-basicInfo-field-label-value">
        {{ userObject.address }}
      </div>
    </div>
    <div class="account-info-basicInfo-field-right">
      <fa-icon [icon]="nextIcon"></fa-icon>
    </div>
  </div>

  <div class="account-info-basicInfo-field">
    <div class="account-info-basicInfo-field-left">
      <label for="email" class="account-info-basicInfo-field-label">
        Email
      </label>
      <div class="account-info-basicInfo-field-label-value">
        {{ userObject.email }}
      </div>
    </div>
    <div class="account-info-basicInfo-field-right">
      <fa-icon [icon]="nextIcon"></fa-icon>
    </div>
  </div>

  <div class="account-info-basicInfo-field">
    <div class="account-info-basicInfo-field-left">
      <label for="contactNo" class="account-info-basicInfo-field-label">
        Contact Number
      </label>
      <div class="account-info-basicInfo-field-label-value">
        {{ userObject.contactNo }}
      </div>
    </div>
    <div class="account-info-basicInfo-field-right">
      <fa-icon [icon]="nextIcon"></fa-icon>
    </div>
  </div>
  <button class="account-info-updateBtn mt-4 mb-4" [routerLink]="'edit'">
    Update Info
  </button>
</div>
