<div class="about-description-section">
  <div class="about-description-section-header">About Us</div>
  <div class="about-description-section-content">
    Established in 2014, AQUA Pizzeria was all about creating chilled out
    spot for people to enjoy some great Sri Lankan fusion pizzas and cocktails.
    Named after the owner's pet pooch, the infamous Golden Retriever, Arthur,
    each of our restaurants have a friendly and relaxed atmosphere, making it
    the perfect place to catch up with a friend, watch a game of cricket or even
    celebrate a special occasion. While our restaurant in Mount Lavinia is also
    a pub, you can BYOB to our restaurants in Havelock Town.
  </div>
</div>
