<div class="container-fluid welcome-picture">
  <div class="welcome-picture-content">
    <div class="welcome-picture-content-title">
      Everything is better <br />
      with a <span>Pizza</span>
    </div>
    <div class="welcome-picture-content-description">
      Pizza is the missing piece that makes every day complete, a simple yet
      delicious joy in life.
    </div>
    <button class="welcome-picture-content-orderNowBtn" [routerLink]="'/menu'">
      ORDER NOW
      <fa-icon [icon]="nextIcon"></fa-icon>
    </button>
  </div>
  <div class="welcome-picture-image">
    <img
      src="../../../../assets/images/Home/Home Page Wallpaper 2.png"
      alt="home page picture 1" />
  </div>
</div>
