@import '../../../styles.scss';
.navbar {
  height: 15vh;
  width: 100%;
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
  background-color: $navbarBackgroundColor;

  @media (max-width: 900px) {
    display: none;
  }

  &-left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    &-restaurant-topic {
      color: $pizzaTopicColor;
      font-size: $pizzaTopicFont;
      font-family: 'Metal Mania', system-ui;
      font-weight: 700;
    }

    &-options {
      display: flex;
      justify-content: space-between;
      width: 50%;
      height: 1.7rem;
    }

    &-option {
      font-size: $navbarOptionFont;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: $navbarOptionColor;
      text-decoration: none;
      margin-left: 1rem;
      &:hover {
        border-bottom: 3px solid;
      }
    }
  }

  &-right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: $navbarOptionFont;

    &-signInBtn {
      font-family: 'Open Sans', sans-serif;
      font-size: $navbarBtnFont;
      font-weight: 700;
      color: $navbarBtnColor;
      background-color: $navbarBtnBackgroundColor;
      border-radius: 30px;
      border: none;
      padding: 0.75rem 2.5rem;
      margin: 0 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-cart-icon {
      font-size: $navbarCartIcon;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
.mobile-view-navbar {
  display: none;

  @media (max-width: 900px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbarBackgroundColor;
    height: 15vh;
    width: 100%;
  }

  &-topic {
    color: $pizzaTopicColor;
    font-size: $pizzaTopicTabFont;
    font-family: 'Metal Mania', system-ui;
    font-weight: 700;
    @media (max-width: 450px) {
      font-size: $pizzaTopicMobileFont;
    }
  
  }
  &-right-section {
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      width: 40%;
    }
    &-barIcon {
      font-size: 40px;
      @media (max-width: 450px) {
        font-size: 30px;
      }
    }

    &-options {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: $navbarBackgroundColor;
      padding-bottom: 1rem;
    }
    &-option {
      font-size: $navbarOptionMobileFont;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: $navbarOptionColor;
      text-decoration: none;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
      height: 2rem;
      border-bottom: 3px solid;
      @media(max-width:410px){
        font-size: $navbarOptionMiniMobileFont;
      }
    }
    &-signInBtn {
      padding: 0.1rem 2rem;
      height: 3rem;
      background-color: $navbarBtnBackgroundColor;
      border-radius: 30px;
      font-size: $navbarBtnMobileFont;
      color: $navbarBtnColor;
      border: none;
      font-weight: 700;
      @media (max-width: 450px) {
        padding: 0.1rem 0.7rem;
        height: 2.5rem;
      }
      @media(max-width:410px){
        font-size: $navbarBtnMiniMobileFont;
      }
    }
  }
}
