//navbar styles

$pizzaTopicColor: #DE1F1F;
$navbarBackgroundColor: #E0E0E0;
$navbarOptionColor:#000000;
$navbarBtnBackgroundColor: #DE1F1F;
$navbarBtnColor:#FFFFFF;

//welcome picture component styles

$welcomePictureColor: #000000;
$welcomePicturePizzaColor: #DE1F1F;
$orderNowBtnBackgroundColor:#DE1F1F;
$orderNowBtnColor:#E0E0E0;

//about us component styles
$aboutUsHeadingColor: #996515;
$aboutUsParagraphColor: #000000;

//our restaurant images styles
$ourRestaurantImagesHeadingColor:#FFFFFF;
$ourRestaurantImagesBgColor: #FFFFFF;

//footer styles
$footerPizzaTopicColor: #DE1F1F;
$footerBorderColor:gray;