//font sizes
$pizzaTopicFont: 50px;
$navbarOptionFont:20px;
$navbarBtnFont:18px;
$navbarCartIcon:25px;

//max-width- 830px
$pizzaTopicTabFont: 40px;
$navbarOptionTabFont:18px;
$navbarBtnTabFont:17px;
$navbarCartTabIcon:22px;


//max-width - 730px
$pizzaTopicMobileFont: 35px;
$navbarOptionMobileFont:17px;
$navbarBtnMobileFont:16px;
$navbarCartMobileIcon:21px;


 
