
    <div class="about-us-section container-fluid">
        <div class="about-us-section-background"></div>
        <div class="about-us-section-content">
           <h2>Welcome to
            Our Authentic Italian Pizzeria</h2> 
<p>Experience authentic Italian pizzas at AQUA Pizza, located in the picturesque Galle Fort. Classic and gourmet Neapolitan pizzas baked in our wood fire oven using traditional recipes and fresh premium-quality ingredients.</p>

 <p>  Our Pelawatte branch is open Monday to Thursday from 12:00 PM to 10:30 PM, and Friday to Sunday from 12:00 PM to 11:00 PM. Our Galle Fort branch is open daily from 12:00 PM to 10:00 PM. Our Arugam Bay branch is open daily from 12:00 PM to 10:00 PM. Our Dikwella branch is open daily from 12:00 PM to 10:00 PM.</p> 
        </div>
    </div>
