<div class="menu-cart-content-section">
  <div class="menu-cart-content-section-content">
    <div class="menu-cart-content-section-content-introduction">
      <div class="menu-cart-content-section-content-introduction-icon">
        <fa-icon [icon]="noteIcon"></fa-icon>
      </div>
      <div class="menu-cart-content-section-content-introduction-description">
        <div
          class="menu-cart-content-section-content-introduction-description-firstline">
          Please be noticed that we deliver only within the following city
          limits.
        </div>
        <div
          class="menu-cart-content-section-content-introduction-description-otherline">
          <span>Horton Branch -</span> Horton, Rajagiriya, Kollupitiya, Borella,
          Nawala, Narahenpita, Maradana, Dematagoda, Welikada, Union place,
          Townhall, Kiriwathuduwa
        </div>
        <div
          class="menu-cart-content-section-content-introduction-description-otherline">
          <span>Havelock Branch -</span> Colombo 1, 2, 3, 4, 5, 6, 7, 8,
          Nugegoda, Nawala, Mirihana, Kalubowila, Kohuwala
        </div>
        <div
          class="menu-cart-content-section-content-introduction-description-otherline">
          <span> Mount Branch -</span>Mount Lavinia, Rathmalana, Dehiwala,
          Attidiya, Kalubowila, Bellanwila
        </div>
        <div
          class="menu-cart-content-section-content-introduction-description-lastline">
          Orders outside to these city limits will be canceled and refunded.
        </div>
      </div>
    </div>
    <div
      class="menu-cart-content-section-empty-table"
      *ngIf="cartOrder.length == 0">
      <fa-icon [icon]="noteIcon"></fa-icon>
      <span class="menu-cart-content-section-empty-table-content">
        Your cart is currently empty.
      </span>
    </div>
    <div
      class="menu-cart-content-section-content-table"
      *ngIf="cartOrder.length">
      <table class="menu-cart-content-section-content-table-web-view">
        <tr>
          <th>Product</th>
          <th>Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>
        </tr>

        <tr *ngFor="let unit of cartOrder">
          <td class="pizza-name">{{ unit.pizza_name }}</td>
          <td class="pizza-size">
            <select
              class="pizza-sizes"
              [(ngModel)]="unit.sizeAndPrice.size"
              (change)="updatePrice(unit)">
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
            </select>
          </td>
          <td *ngIf="unit.sizeAndPrice.size == 'S'">
            LKR. {{ unit.smallPrice | number: '1.2-2' }}
          </td>
          <td *ngIf="unit.sizeAndPrice.size == 'M'">
            LKR. {{ unit.mediumPrice | number: '1.2-2' }}
          </td>
          <td *ngIf="unit.sizeAndPrice.size == 'L'">
            LKR. {{ unit.largePrice | number: '1.2-2' }}
          </td>
          <td>
            <input
              type="number"
              step="1"
              min="0"
              [(ngModel)]="unit.quantity"
              (change)="updatePrice(unit)" />
          </td>
          <td>LKR. {{ unit.cartAmount | number: '1.2-2' }}</td>
        </tr>
        <tr>
          <td *ngFor="let num of N"></td>
          <td>
            <button
              class="menu-cart-content-section-content-table-updateButton-btn"
              (click)="onClickUpdateBtn()"
              [disabled]="!isChangeInput">
              Update Cart
            </button>
          </td>
        </tr>
      </table>
      <table class="menu-cart-content-section-content-table-mobile-view">
        <div class="menu-cart-content-section-content-table-mobile-view-table-set" *ngFor="let unit of cartOrder">
          <tr>
            <th>Product</th>
            <td class="pizza-name">{{ unit.pizza_name }}</td>
          </tr>
          <tr>
            <th>Size</th>
            <td>
              <select
                class="pizza-sizes"
                [(ngModel)]="unit.sizeAndPrice.size"
                (change)="updatePrice(unit)">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Price</th>
            <td *ngIf="unit.sizeAndPrice.size == 'S'">
              LKR. {{ unit.smallPrice | number: '1.2-2' }}
            </td>
            <td *ngIf="unit.sizeAndPrice.size == 'M'">
              LKR. {{ unit.mediumPrice | number: '1.2-2' }}
            </td>
            <td *ngIf="unit.sizeAndPrice.size == 'L'">
              LKR. {{ unit.largePrice | number: '1.2-2' }}
            </td>
          </tr>

          <tr>
            <th>Quantity</th>
            <td>
              <input
                type="number"
                step="1"
                min="0"
                [(ngModel)]="unit.quantity"
                (change)="updatePrice(unit)" />
            </td>
          </tr>
          <tr>
            <th>Sub Total</th>
            <td>LKR. {{ unit.cartAmount | number: '1.2-2' }}</td>
          </tr>
        </div>
        <button
        class="menu-cart-content-section-content-table-updateButton-btn"
        (click)="onClickUpdateBtn()"
        [disabled]="!isChangeInput">
        Update Cart
      </button>
      </table>
      <div class="menu-cart-content-section-cart-totals">
        <div class="menu-cart-content-section-cart-totals-heading">
          Cart Totals
        </div>
        <div class="menu-cart-content-section-cart-totals-table">
          <table>
            <tr>
              <th>Sub Total</th>
              <td>LKR. {{ fullAmount | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <th>Shipping</th>
              <td>{{ userAddress }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button class="menu-cart-content-section-proceedBtn" [disabled]="cartOrder.length==0">
    PROCEED TO CHECKOUT
  </button>
</div>
