.profile {
  height: 100vh;
  padding: 0 6%;
  &-body {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }
}
.left-side {
  width: 30%;
  @media (max-width: 700px) {
    width: 100%;
  }
}
.right-side {
  width: 75%;
  @media (max-width: 700px) {
    width: 100%;
    margin-top: 1rem;
  }
}
