<div class="menu-card-page-body">
  <div class="menu-card-page-body-picture">
    <img [src]="pizza.imgUrl" [alt]="pizza.name + ' image'" />
  </div>
  <div class="menu-card-page-body-description">
    <div class="menu-card-page-body-description-name">{{ pizza.name }}</div>
    <div class="menu-card-page-body-description-ratingAndLike">
      <div class="menu-card-page-body-description-ratingAndLike-rating">
        <p-rating
          [(ngModel)]="pizza.stars"
          [cancel]="false"
          stars="5"
          [readonly]="true" />
      </div>
      <div class="menu-card-page-body-description-ratingAndLike-like">
        <fa-icon class="fa-favorite-icon"
          *ngIf="isFavorite"
          [icon]="heartSolidIcon"
          (click)="onClickFavorite()"></fa-icon>
        <fa-icon
        class="fa-favorite-icon"
          *ngIf="!isFavorite"
          [icon]="heartRegularIcon"
          (click)="onClickFavorite()"></fa-icon>
      </div>
    </div>
    <div class="menu-card-page-body-description-tags">
      <div
        class="menu-card-page-body-description-tags-tag"
        *ngFor="let tag of pizza.tags">
        {{ tag }}
      </div>
    </div>
    <div class="menu-card-page-body-description-sizeandprice">
      <div
        class="menu-card-page-body-description-sizeandprice-unit"
        *ngFor="let unit of pizza.prizeWithSize" >
        {{ unit.size }} <fa-icon [icon]="arrowIcon"></fa-icon> LKR.
        {{ unit.price }}
      </div>
    </div>
    <button (click)="onClickAddToCart()">ADD TO CART</button>
  </div>
</div>
