<div class="privacy-and-data">
  <h1>Privacy & data</h1>
  <div class="privacy-and-data-first-section">
    <h3>Privacy</h3>
    <div class="privacy-and-data-first-section-topic">Privacy Centre</div>
    <div class="privacy-and-data-first-section-description">Take control of your privacy and learn how we protect it.</div>
  </div>
  <div class="privacy-and-data-second-section">
    <h3>Third-party apps with account access</h3>
    <div class="privacy-and-data-second-section-description">
      Once you allow access to third-party apps, you'll see them here.<a
        href="#"
        >Learn more</a
      >
    </div>
  </div>
</div>
