<div class="order-summary-section">
  <h1>Order Details</h1>
  <div class="order-summary-section-order-details">
    <div class="order-summary-section-order-details-user-details">
      <li>Name : {{ activeOrder.name }}</li>
      <li>Address : {{ activeOrder.address }}</li>
      <li>Contact No : {{ activeOrder.contactNo }}</li>
      <li *ngIf="activeOrder.notes">Special Note: {{ activeOrder.notes }}</li>
    </div>
    <div class="order-summary-section-order-details-order">
      <h3>Order Items:</h3>
      <table>
        <tr *ngFor="let item of activeOrder.cartItems">
          <td>{{ item.name }}</td>
          <td>{{ item.productSizeAndPrice.size }}</td>
          <td>LKR. {{ item.productSizeAndPrice.price | number: '1.2-2' }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            LKR.
            {{
              item.productSizeAndPrice.price * item.quantity | number: '1.2-2'
            }}
          </td>
        </tr>
      </table>
      <div class="order-summary-section-order-details-order-total">
        Total Amount : LKR. {{ activeOrder.totalAmount | number: '1.2-2' }}
      </div>
    </div>
  </div>
</div>
<div class="order-summary-section-paypal-option">
  <div class="order-summary-section-paypal-option-paypal" #paymentRef></div>
</div>
