@import '../../../styles.scss';

.footer{
    width: 100%;
    padding: 5px 6% 5px;
    border-top: 2px solid $footerBorderColor;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media(max-width:900px){
        flex-direction: column;
        height:20vh;
        align-items: center;
    }
&-pizza-name{
    color: $footerPizzaTopicColor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 35px;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.4);
    @media(max-width:900px){
        font-size:33px;
    }
    @media(max-width:700px){
        font-size:30px;
    }
}
&-reserved-statement{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    @media(max-width:900px){
        font-size:15px;
    }
    @media(max-width:700px){
        font-size:14px;
    }
    @media(max-width:410px){
        font-size:12px;
        text-align: center;
    }
}
&-social-media-links{
    display: flex;
    width: 5rem;
    justify-content: space-between;
   
}
& fa-icon{
    font-size: 25px;
    @media(max-width:900px){
        font-size:23px;
    }
    @media(max-width:700px){
        font-size:22px;
    }
&:hover{
    cursor: pointer;
}}
}