<div class="profile-navbar">
  <button
    (click)="onClick('accountInfo')"
    [ngClass]="{ active: buttonName === 'accountInfo' }">
    Account Info
  </button>
  <button
    (click)="onClick('orders')"
    [ngClass]="{ active: buttonName === 'orders' }">
    Orders
  </button>
  <button
    (click)="onClick('security')"
    [ngClass]="{ active: buttonName === 'security' }">
    Security
  </button>
  <button
    (click)="onClick('privacy')"
    [ngClass]="{ active: buttonName === 'privacy' }">
    Privacy and Data
  </button>
</div>
