<div class="change-password-content-section">
  <h1>Change Password</h1>
  <div class="change-password-content-section-body">
    <label for="currentPw">Current Password</label>
    <mat-form-field>
      <input
        matInput
        [type]="hideCurrentPw ? 'password' : 'text'"
        [formControl]="currentPassword"
        (blur)="updateCurrentPasswordErrorMessage()"
        required />
      <button
        mat-icon-button
        matSuffix
        (click)="hideCurrentPw = !hideCurrentPw"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideCurrentPw">
        <mat-icon class="mat-icon">{{
          hideCurrentPw ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      @if (currentPassword.invalid) {
        <mat-error>{{ currentPasswordErrorMessage }}</mat-error>
      }
    </mat-form-field>
    <label for="currentPw">New Password</label>
    <mat-form-field>
      <input
        matInput
        [type]="hideNewPw ? 'password' : 'text'"
        [formControl]="newPassword"
        (blur)="updateNewPasswordErrorMessage()"
        required />
      <button
        mat-icon-button
        matSuffix
        (click)="hideNewPw = !hideNewPw"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNewPw">
        <mat-icon class="mat-icon">{{
          hideNewPw ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      @if (newPassword.invalid) {
        <mat-error>{{ newPasswordErrorMessage }}</mat-error>
      }
    </mat-form-field>

    <label for="currentPw">Confirm New Password</label>
    <mat-form-field>
      <input
        matInput
        [type]="hideReNewPw ? 'password' : 'text'"
        [formControl]="reNewPassword"
        (blur)="updateReNewPasswordErrorMessage()"
        required />
      <button
        mat-icon-button
        matSuffix
        (click)="hideReNewPw = !hideReNewPw"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideReNewPw">
        <mat-icon class="mat-icon">{{
          hideReNewPw ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      @if (reNewPassword.invalid) {
        <mat-error>{{ reNewPasswordErrorMessage }}</mat-error>
      }
    </mat-form-field>
    <button
      class="mt-4 change-password-content-section-body-updateBtn"
      (click)="updateBtnClicked()">
      Update Password
    </button>
  </div>
</div>
