.change-password-content-section {
  height: 75vh;
  width: 100%;

  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  &-body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    label {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    mat-form-field {
      width: 60%;
    }
    &-updateBtn {
        width: 12rem;
      padding: 0.6rem 1.5rem;
      background-color: black;
      color: white;
      font-weight: 600;
    }
  }
}
:host ::ng-deep {
  .mat-mdc-form-field-flex {
    padding-right: 1rem;
  }
}
