.info-body {
  height: 70vh;
  width: 100%;

  h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 2rem;
  }
  &-content {
    display: flex;
    flex-direction: column;
    label {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    &-updateBtn {
      margin-top: 1rem;
      margin-bottom: 2rem;
      background-color: black;
      width: 10rem;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 15px;
      font-weight: 600;
      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
  mat-form-field {
    width: 60%;
  }
}
