<div class="order-section">
  <h1>Orders</h1>
  <div class="order-section-body">
    <menu-not-found *ngIf="orders.length == 0"></menu-not-found>
    <div
      class="order-section-body-order-card"
      *ngFor="let order of orders"
      [routerLink]="['/profile', order._id]">
      <div class="order-section-body-order-id">
        <strong>Order Id : </strong>{{ order._id }}
      </div>
      <div class="order-section-body-order-date">
        <strong>Date : </strong>{{ order.createTime | date: 'medium' }}
      </div>
    </div>
  </div>
</div>
